.loading {
    width: 100vw;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    margin: 1rem;
}

.input_container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    input {
        padding: 0.5rem 1rem;
    }

    button {
        margin-left: 0.5rem;
    }
}

.search_result_container {


    display: flex;

    margin-top: 1rem;


    justify-content: center;

        ul {

        display: grid;
        grid-template-columns: 50% 50%;

        margin: 0;
        padding: 0;

        li {
            padding: 2rem 1rem;
            margin: 0.5rem 1rem ;
            width: 90%;
            list-style-type: none;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            
            a {
                color: #000;
            }

            a:visited {
                color: #6600cc;
              }
            
        }
    }

}

.pagination_container {

    margin: 1rem;
    
    display: flex;
    justify-content: center;

    button {
        margin: 0.5rem;
        padding:  0.5rem 1rem;
        outline: none;
       border: none;
       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
}

@media only screen and (min-width: 767px) {
    .search_result_container {
        ul {
            li {
                width: 31rem;
            }
        }
    }
}
