.loading {

    width: 100vw;

    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.post_detail_container {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    margin: 5%;
    padding: 5%;

    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    ul {
        text-align: left ;

        li {
            margin: 2rem;
        }
    }
}